<!DOCTYPE html>
<html>
<head>
    <title>Sender Page Demo</title>
</head>
<body>
    <form action="/audio_fragment_send" method="post">
            <p>target_ip</p><input  name="target_ip"><br>
            <p>port</p><input  name="port"><br>
            <button type="submit">let's do this</button>
        </form>


    <h1>Upload a File</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
{% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="flash-message">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
</body>
</html>
